* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243 233 255);
  font-family: "Roboto", serif;
  font-weight: 400;
}

header {
  text-align: center;
  padding: 32px;
}

h1 {
  color: rgb(89 53 195);
  font-size: 36px;
}

h1,
h2 {
  font-weight: 900;
}

header img {
  width: 300px;
}

main {
  width: 800px;
  margin: 52px auto 24px;
  padding: 32px 32px 32px 24px;
  background-color: rgb(119 74 216);
  color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding-left: 0;
}

ul p {
  padding-left: 14px;
  border-left: 6px solid transparent;
}

.highlighted-text {
  color: rgb(247 233 165);
  border-color: rgb(247 233 165);
}

p>a {
  padding: 4px;
  background-color: rgb(247 233 165);
  color: rgb(40 6 58);
  border-radius: 4px;
  text-decoration: none;
}

p>a:hover,
p>a:active {
  background-color: rgb(248, 240, 199);

}

footer {
  padding: 16px 0;
  text-align: center;
}

.btn {
  padding: 12px 16px;
  background-color: rgb(253 200 32);
  color: rgb(40 6 58);
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  background-color: rgb(255, 186, 58);
}

.copyright {
  padding: 12px 0;
  color: gray;
  font-size: 14px;
}